.container {
    position: relative;
    background-color: #ffff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 2px 10px;
    width: 156px;
    height: 100px;
    border: 0;
}
