.container {
    background-color: #fff;
    background-image: url("plus.svg");
    background-size: 35px;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}